/* family.css */
.family-page-main {
    color: white;
    /* Esto asegura que el fondo cubra toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 0;
    border-top: 0;
}

.family-container-tittle h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.react-photo-album {
    width: 100%;
    /* Ajusta el ancho de la galería */
    max-width: 1200px;
    /* Limita el tamaño máximo de la galería */
}

.family-container-tittle{
    margin-top: 0;
    padding: 10px;
}

.family-container-menu-option{
    display: flex;
    flex-direction: column;
}